@CHARSET "ISO-8859-1";

#dvMenu {
	margin: auto;
	width: 200px
}

ul, ol {
	list-style: none;	
}

.nav>li {
	border-bottom: 1px solid rgba(192, 1, 5, 1);	
}

.nav li a {
	background-color: #ea050a;
	color: #fff;
	text-decoration: none;
	padding: 10px 12px;
	display: block;	
}

.nav li a:hover {
	background-color: #c00105;
}

.nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}

.nav li:hover>ul {
	display: block;
}

.nav li ul li {
	position: relative;
	right: -121px;
	top: -45px;
}

.nav li ul li ul {
	right: -140px;
	top: 0px;
}